.cy {
    width: 90%;
    height: 900px;
    display: block;
    border: 2px solid lightblue;
}

#buttons{
    position:fixed;
    right: 50px;
    top: 100px;
    z-index:1000;
    width: 150px;
    margin: 1px;
}

/*  TIMELINE TEST */
/*
.vis-timeline {
    border: 1px solid grey;
    font-family: purisa, 'comic sans', cursive;
    font-size: 11pt;
    background: #F8F8FF;
}

.vis-item {
    border-color: #F991A3;
    background-color: skyBlue;
    font-size: 15pt;
    color: purple;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.5);
}

.vis-time-axis .vis-text {
    color: black;
    padding-top: 0;
    padding-left: 10px;
}

.vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: #F991A3;
}

*/
/* --------------- */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    height: 100%
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1{
    font-family:Georgia,serif;
    color:#4E443C;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 25px;
}
/*
TODO: Change all buttons to inherit properties from same class
 */
#level1_button{
    background-color: #383DDD; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width:100%;
    margin: 1px;

}
#level2_button{
    background-color: #4AB4F4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width:100%;
    margin: 1px;
}
#level3_button{
    background-color: #38DDB7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width:100%;
    margin: 1px;
}


hr{
    width:45%;
    margin-left: 25px;
}



body{
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

.input-container label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    margin: 4px;
}
.input-container input {
    display: inline-block;
    float: left;
    width: 75px;
}

.input-container {
    height: 15px;
    padding: 25px;

}

.section {
    margin: 25px;
    width:90%;
    /*height:100%; */
    /*padding: 50px; */
    padding-bottom: 80px;
    /*border: 2px solid slategray; */
     /* Hide sections per default */
}
/* This could be a general CSS for all buttons possibly. */
/*#cy_help_button {
    display: inline-block;
    float: right;
    width: 75px;
    font-weight: bold;
}*/
#cy_help_button {
 /*   border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 220px;
    top: 0px;
    vertical-align: bottom;
    position: absolute; */

    background-color: #3FFA58; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width:100%;
    margin: 1px;
}
#cy_help_popup {
    display: none;
    left: 250px; /* align 150px from left wall. Could use float: right if top right corner is used.*/
    /*float: right;*/
    vertical-align: bottom;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 255, 0.25);
}

#aggregation.section{
    display:block;      /* Show only aggregation graph */

}
