<template name="layout">

    <nav id="navscrollspy" class="navbar navbar-default" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <!--<li class="hidden">-->
            <!--<a class="page-scroll" href="#page-top"></a>-->
            <!--</li>-->
            <li>
                <a class="page-scroll" href="#aggregation">Aggregation</a>
            </li>
            <li>
                <a class="page-scroll" href="#details">Details</a>
            </li>
            <li>
                <a class="page-scroll" href="#eventchain">Event chain</a>
            </li>

            <li>
                <a data-toggle="modal" data-target="#settingsModal"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>

            </li>
        </ul>
    </nav>

    <div id="settingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You will be able to trigger a data import from here soon.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>


    <div class="page-header">
        <h1>Workflow visualization </h1>
    </div>


    <!--<div id=side-menu-buttons>-->
    <!--<input id="level1_button" type="submit" value="Aggregation"/>-->
    <!--<input id="level2_button" type="submit" value="Details"/> &lt;!&ndash; Level 2 &ndash;&gt;-->
    <!--<input id="level3_button" type="submit" value="Event chain"/>-->
    <!--<input id="cy_help_button" type="submit" value="?"/>-->
    <!--</div>-->
    <!--<div id="cy_help_popup">-->
    <!--<h2>Help</h2>-->
    <!--"To do X, you first do Y and then Z.." <br>-->
    <!--TBI-->

    <!--</div>-->

    {{> yield}}
    <hr/>
</template>
