<template name="layout">


    <nav id="navscrollspy" class="navbar navbar-default" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <!--<li class="hidden">-->
            <!--<a class="page-scroll" href="#page-top"></a>-->
            <!--</li>-->
            <li>
                <a class="page-scroll" href="#aggregation">Aggregation</a>
            </li>
            <li>
                <a class="page-scroll" href="#details">Details</a>
            </li>
            <li>
                <a class="page-scroll" href="#eventchain">Event chain</a>
            </li>
        </ul>
    </nav>


    <div class="page-header">
        <h1>Workflow visualization </h1>
    </div>


    <!--<div id=side-menu-buttons>-->
    <!--<input id="level1_button" type="submit" value="Aggregation"/>-->
    <!--<input id="level2_button" type="submit" value="Details"/> &lt;!&ndash; Level 2 &ndash;&gt;-->
    <!--<input id="level3_button" type="submit" value="Event chain"/>-->
    <!--<input id="cy_help_button" type="submit" value="?"/>-->
    <!--</div>-->
    <!--<div id="cy_help_popup">-->
    <!--<h2>Help</h2>-->
    <!--"To do X, you first do Y and then Z.." <br>-->
    <!--TBI-->

    <!--</div>-->

    {{> yield}}
    <hr/>
</template>
