<template name="aggregation">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet" type="text/css" />

    <div id="cy-aggregation" class="cy"></div>
    <div class="input-container">
        <label for="date-from">Aggregate from </label><input id="date-from" class="datepicker"/>
        <label for="date-to">Aggregate to </label><input id="date-to" class="datepicker"/>
        <label for="limit">Limit </label><input id="limit" />
    </div>
    <div id="example-timeline"></div>
</template>
