<template name="details">
    <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Start time</th>
                <th>Execution time</th>
                <th>Pass rate</th>
                <th>Queue time</th>
                <th>Number of authors</th>
            </tr>
            <tr>
                <td>166</td>
                <td>2017-09-30 | 21:33</td>
                <td>2h 30m</td>
                <td>29%</td>
                <td>0h 0m</td>
                <td>2</td>
            </tr>
            <tr>
                <td>120</td>
                <td>2017-03-09 | 00:11</td>
                <td>2h 30m</td>
                <td>56%</td>
                <td>0h 0m</td>
                <td>1</td>
            </tr>
            <tr>
                <td>92</td>
                <td>2017-01-09 | 23:17</td>
                <td>0h 8m</td>
                <td>93%</td>
                <td>0h 0m</td>
                <td>3</td>
            </tr>
            <tr>
                <td>14</td>
                <td>2017-03-09 | 17:00</td>
                <td>0h 3m</td>
                <td>88%</td>
                <td>0h 11m</td>
                <td>1</td>

            </tr>
        </table>
</template>
