<head>
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    <title>visualization</title>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
{{> graph }}
</body>

<template name="graph">
    <input id="help-button" onclick="display_help(this.id)" type="button" value="?"/>
    <div id="cy-aggregation" class="cy"></div>
    <div id="cy-event-chain" class="cy"></div>
    <div id="cy-help-button" class="cy">
        <h1>?</h1>
    </div>
</template>